---
import HeaderLink from './HeaderLink.astro'
import { IoLogoGithub } from 'react-icons/io5'
import LogoIcon from './icons/logo'
import ThemeToggle from './ThemeToggleButton'
import DropdownMenu from './DropdownMenu'

// NOTE: 需要随便引入一篇md文件才能正常渲染页面css（已解决）。
// import '../pages/posts/second-post.md'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/" class="group">
        <h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
          <LogoIcon />
          ing of Clubs ♣
        </h2>
      </a>

      <!-- 导航栏，移动端隐藏 -->
      <div class="items-center gap-6 hidden md:flex">
        <HeaderLink href="/">首页</HeaderLink>
        <HeaderLink href="/cate">分类</HeaderLink>
        <HeaderLink href="/about">关于</HeaderLink>
        <HeaderLink
          href="https://github.com/kai2cheng"
          target="_blank"><IoLogoGithub />Source</HeaderLink
        >
      </div>
      <div class="flex-1"></div>

      <!-- 深色模式开关 -->
      <ThemeToggle client:visible />

      <!-- 下拉菜单，桌面端隐藏 -->
      <div class="md:hidden">
        <DropdownMenu client:visible />
      </div>
    </nav>
  </div>
</header>
