---
import {
  IoMailUnreadOutline,
  IoDocumentAttachOutline,
} from "react-icons/io5";
---

<section class="mt-24">
  <h1 class="text-3xl md:text-4xl font-bold mb-4">Hey! I'm Casey</h1>

  <h2 class="text-xl md:text-2xl mb-4">
    <span> 「资深干饭人，易晕体质，但特别爱折腾。」 </span>
    <span>
      从<a href="/about" class="font-bold underline">这里</a>可以了解我更多。这个博客始于2019年，从WordPress到Hexo，如今已迁移至Astro+Tailwind CSS，几经修缮目前源码已在GitHub开放，欢迎围观。
    </span>
    <span
      class="block min-h-[4.5rem] text-orange-500 dark:text-orange-400"
      id="dynamic-text"
    >
      taking special care in every
    </span>
  </h2>

  <div class="flex gap-4 mt-8 flex-wrap">
    <a
      class="rounded-lg border border-gray-300 dark:border-gray-700 flex items-center gap-2 py-2 px-4 text-sm md:text-base bg-white/50 dark:bg-gray-800/50 hover:bg-gray-100 dark:hover:bg-gray-700 transition"
      href="mailto:jiang@kaicheng.me"
      target="_blank"
      rel="noopener noreferrer"
    >
      <IoMailUnreadOutline className="size-5" />
      Email
    </a>

    <a
      class="rounded-lg border border-gray-300 dark:border-gray-700 flex items-center gap-2 py-2 px-4 text-sm md:text-base bg-white/50 dark:bg-gray-800/50 hover:bg-gray-100 dark:hover:bg-gray-700 transition"
      href="/cv"
      target="_blank"
      rel="noopener noreferrer"
    >
      <IoDocumentAttachOutline className="size-5" />
      我的简历
    </a>
  </div>

  <script is:inline>
    const phrases = [
      "并请诸安，顺颂时祺。",
      "学海无涯，乘风破浪，过千帆。",
      "欲买桂花同载酒，终不似，少年游。",
      "暌违日久，拳念殊殷。",
    ];

    let currentPhrase = 0;
    const dynamicText = document.getElementById("dynamic-text");

    function typeWriter(text, n) {
      if (n < text.length) {
        dynamicText && (dynamicText.innerHTML = text.substring(0, n + 1));
        setTimeout(() => typeWriter(text, n + 1), 50);
      } else {
        setTimeout(changePhrase, 3000);
      }
    }

    function changePhrase() {
      currentPhrase = (currentPhrase + 1) % phrases.length;
      dynamicText && (dynamicText.innerHTML = "");
      typeWriter(phrases[currentPhrase], 0);
    }

    changePhrase();
  </script>
</section>
